body {
	
}

#banner {
	width:100%;
	min-width: 140px;
	height: 100%;
}

.principal{
	background: #FFF8DC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
	text-align: center;
	color:#F08080; 
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #F08080;
}

.itens {
	font-style: italic
}
.imagembolos {
	width:50%;
height:50%;
 align:left;
background: #FFF8DC;
}