style.css
  p{  
  text-aling: center;  
  }  
    body {  
      background: #FF0000;
  }  
    
  #banner {  
      width: 100%;  
  }  
    
  h1 {  
      text-align: center  
    color: #F08080;
  }  
    
  p {  
      text-align: center;  
  }  
    
  #missao {  
      font-size: 20px  
  }  
    
  em strong {  
      color: #FF0000;  
  } 
